pipeline/Count_api.json
{
	"name": "Count_api",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://pokeapi.co/api/v2/pokemon?offset=20&limit=20"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "count",
					"value": {
						"value": "@activity('Web1').output.count",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"QueryParameters.offset": "RANGE:0:200:20"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "name"
								}
							},
							{
								"source": {
									"path": "['url']"
								},
								"sink": {
									"name": "url"
								}
							},
							{
								"source": {
									"path": "$['count']"
								},
								"sink": {
									"name": "count"
								}
							},
							{
								"source": {
									"path": "$['next']"
								},
								"sink": {
									"name": "next"
								}
							}
						],
						"collectionReference": "$['results']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "RestAPI_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Api_output_file",
						"type": "DatasetReference",
						"parameters": {
							"Api_file_name": "api_pagination_level.csv"
						}
					}
				]
			}
		],
		"variables": {
			"count": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "API_related"
		},
		"annotations": [],
		"lastPublishTime": "2025-11-16T09:08:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}