pipeline/data_push_api.json
{
	"name": "data_push_api",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_azure_sql_DB_P",
						"type": "DatasetReference",
						"parameters": {
							"P_Table_Name": "trn_api_input"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "api_input_data",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source1": {
								"P_Table_Name": " "
							},
							"sink1": {
								"P_Table_Name": "trn_api_input"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": {
										"value": "'application/json'",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@item().API_URL",
									"type": "Expression"
								},
								"body": {
									"value": "{\n  \"title\": \"@{item().title}\",\n  \"body\": \"@{item().body}\",\n  \"userId\": @{item().userId}\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "MM",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-31.centralindia.logic.azure.com:443/workflows/bfd30fb305ba4230b99e0cd1e79d2062/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=0bG09n64R6871olPrmNuEk5r_vf020PxnMxRglwrFv0",
					"body": {
						"value": "{\n  \"to\": \"pavankumarthirunagari1@gmail.com\",\n  \"subject\": \"ADF Pipeline Status\",\n  \"body\": \"Pipeline completed.\",\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "API_related"
		},
		"annotations": [],
		"lastPublishTime": "2025-11-18T18:34:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}